{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<!-- create story section -->
<div class="content_wrapper">
        <section class="create_story">
            <div class="inner_wrapper">
                <i class="fa-solid fa-plus"></i>
                <div class="right_inner_wrapper">
                    <h2>Create Story</h2>
                    <p>Share a photo or write something</p>
                </div>
            </div>
        </section>
    <!-- create story section -->

    <!-- create post section -->

    <section class="create_post">
        <div class="inner_create_post_wrapper">
            <img src="{% static 'images/facebook.png' %}" alt="" width="35">
            <input type="text" placeholder="What is on your mind?">
        </div>
        <div class="inner_bottom_post_wrapper">
            <div class="icon_text">
                <i class="fa-regular fa-circle-play"></i>
                <p>Live Video</p>
            </div>
            <div class="icon_text">
                <i class="fa-solid fa-photo-film"></i>
                <p>Photo/Video</p>
            </div>
            <div class="icon_text">
                <i class="fa-regular fa-file-video"></i>
                <p>Reel</p>
            </div>
        </div>
    </section>
</div>

<!-- create post section -->