<nav class="navbar navbar-expand-lg navbar-light bg-light navbar_extra container">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Friends</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Photos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Videos</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#">Check-ins</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="/" target="_blank">More</a>
                </li>
            </ul>
            <div class="right-nav-icon">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
    </div>
</nav>